@model Werul.S3StorageProvider.Models.S3StorageProviderSettingsRecord
@using Werul.S3StorageProvider.Models;

<fieldset>
    <legend>@T("S3 Storage Provider Settings")</legend>
    <div>
        @Html.LabelFor(m => m.AWSAccessKey)
        @Html.EditorFor(m => m.AWSAccessKey)
        @Html.ValidationMessageFor(m => m.AWSAccessKey)        
    </div>
    <div>
        @Html.LabelFor(m => m.AWSSecretKey)
        @Html.EditorFor(m => m.AWSSecretKey)
        @Html.ValidationMessageFor(m => m.AWSSecretKey)        
    </div>
    <div>
        @Html.LabelFor(m => m.BucketName)
        @Html.EditorFor(m => m.BucketName)
        @Html.ValidationMessageFor(m => m.BucketName)        
    </div>
</fieldset>